main {
    width: 100%;
    margin: 0 auto;
    height: 671px;
}

.ios {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: black;
    position: absolute;
    top: 255px;
    left: 597px;
    border: 2px solid grey;
}

.ios h2 {
    position: absolute;
    top: 64px;
    left: 40px;
    font-family: "quicksand-regular";
    color: white;
}

.perf {
    width: 341.5px;
    height: 332px;
    float: right;
    border: 2px solid grey;
}

.perf h2 {
    position: absolute;
    top: 164px;
    left: 81%;
    font-family: "quicksand-regular";
}

.perf5 input {
    width: 341.5px;
    height: 332px;
}

.perf1 {
    width: 341.5px;
    height: 332px;
    float: right;
    border: 2px solid grey;
}

.perf1 h2 {
    position: absolute;
    top: 164px;
    left: 56%;
    font-family: "quicksand-regular";
}

.perf2 {
    width: 331.5px;
    height: 332px;
    float: right;
    border: 2px solid grey;
}

.perf2 h2 {
    position: absolute;
    top: 164px;
    left: 31%;
    font-family: "quicksand-regular";
}

.perf3 {
    width: 338.5px;
    height: 332px;
    border: 2px solid grey;
}

.perf3 h2 {
    position: absolute;
    top: 164px;
    left: 6%;
    width: 100px;
    font-family: "quicksand-regular";
}

.perf4 {
    width: 341.5px;
    height: 332px;
    float: right;
    border: 2px solid grey;
}

.perf4 h2 {
    position: absolute;
    top: 480px;
    left: 81%;
    font-family: "quicksand-regular";
}

.perf5 {
    width: 341.5px;
    height: 332px;
    float: right;
    border: 2px solid grey;
}

.perf5 h2 {
    position: absolute;
    top: 480px;
    left: 55%;
    font-family: "quicksand-regular";
}

.perf6 {
    width: 331.5px;
    height: 332px;
    float: right;
    border: 2px solid grey;
}

.perf6 h2 {
    position: absolute;
    top: 480px;
    left: 31%;
    font-family: "quicksand-regular";
}

.perf7 {
    width: 338.5px;
    height: 332px;
    border: 2px solid grey;
}

.perf7 h2 {
    position: absolute;
    top: 480px;
    left: 5%;
    font-family: "quicksand-regular";
}

#simp {
    width: 100%;
    height: 671px;
    position: absolute;
    background-color: white;
    top: 0;
    display: none;
}

.exit {
    width: 23px;
    position: absolute;
    left: 98%;
    top: 8px;
}

#simp img {
    position: absolute;
    top: 20px;
    left: 713px;
    width: 500px;
}

.h3 {
    font-family: "quicksand-regular";
    font-size: 30px;
    width: 446px;
    padding-top: 24px;
    padding-left: 100px;
}

.h2 {
    font-family: "quicksand-regular";
    padding-top: 100px;
    padding-left: 170px;
}

.text {
    font-family: "quicksand-regular";
    width: 452px;
    padding-top: 40px;
    padding-left: 100px;
}

#performance {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#performance img {
    position: absolute;
    top: 80px;
    left: 600px;
    width: 703px;
}

#exp {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#exp img {
    position: absolute;
    top: 170px;
    left: 570px;
}

#int {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#int img {
    position: absolute;
    top: 0;
    left: 695px;
}

.h4 {
    font-family: "quicksand-regular";
    font-size: 20px;
    padding-left: 100px;
    padding-top: 80px;
}

.siri {
    font-family: "quicksand-regular";
    width: 300px;
    padding-left: 150px;
    padding-top: 30px;
}

#cloud {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#cloud img {
    position: absolute;
    top: 127px;
    width: 753px;
    left: 591px
}

#ass {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#app {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#app img {
    position: absolute;
    top: 99px;
    left: 612px;
    width: 700px;
}

#and {
    width: 100%;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}

#and h3 {
    position: absolute;
    top: 165px;
    left: 777px;
    font-size: 27px;
    font-family: "quicksand-regular";
}

#and p {
    width: 355px;
    font-size: 20px;
    font-family: "quicksand-light";
    position: absolute;
    top: 242px;
    left: 780px;
}

#and img {
    width: 500px;
    position: absolute;
    top: 55px;
    left: 194px;
}

.assimg {
    width: 72px;
    position: absolute;
    left: 800px;
    top: 126px;
}

.assimg img {
    width: 50px;
    padding-bottom: 50px;
}

.vision {
    font-family: "quicksand-light";
    position: absolute;
    top: 7px;
    left: 84px;
}